.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". sidebar list list list .";
  grid-column-gap: 1rem;
  place-items: start center;
  padding: 0;
}

.sidebar {
  grid-area: sidebar;
  width: 100%;
}

.list {
  grid-area: list;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "sidebar list list list";
    padding: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar"
      "list";
    padding: 0 2rem;
  }
}
